build
_deps
external/detours/bin.*
external/detours/lib.*
unity/OwlcatMonoProfilerTest/Library
unity/OwlcatMonoProfilerTest/Logs
unity/OwlcatMonoProfilerTest/Temp
unity/OwlcatMonoProfilerTest/UserSettings
unity/OwlcatMonoProfilerTest/MemoryCaptures
unity/OwlcatMonoProfilerTest/obj
unity/OwlcatMonoProfilerTest/log.txt

*.csproj

